<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Tenant Hunt / Post
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-button (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon>back</ion-button>
    <ion-card>
      <ion-card-content>
        <h1>Create Post</h1>
        <ion-item>
          <ion-label position="floating">Title</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Location</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Price per Month</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Image :</ion-label>
          <br>
          <ion-input type="file" id="myfile" name="myfile" multiple></ion-input>
        </ion-item>
        <br>
          <ion-button color="danger" (click)="goBack()">cancel</ion-button>
          <ion-button color="success" >Create +</ion-button>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
