

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-img class="" src="assets/icon/home.png" style="width: 100px; height: 100px;"></ion-img>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <section class="ion-button">
          <ion-button (click)="goBack()" ><ion-icon name="arrow-back-outline"></ion-icon> back</ion-button>
        </section>
        <ion-card class="img-img" *ngFor="let userGet of userGet">
          <ion-img src="https://www.freeiconspng.com/uploads/person-icon-blue-25.png"></ion-img>
          <div class="ion-button-edit">
            <ion-button (click)="openEdit(userGet)" color="success"><ion-icon name="create-outline"></ion-icon> Edit Profile</ion-button>
          </div>  
          <ion-card-content>
            <ion-item>
              <h2>{{ userGet.user_fullname }}</h2>
            </ion-item>
            <ion-item>
              <h2>{{ userGet.user_location }}</h2>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <section class="ion-button-logout">
          <ion-button color="danger" (click)="goToLogin()"><ion-icon name="log-out-outline"></ion-icon>Logout</ion-button>
        </section>
        <ion-card>
          <ion-card-content>
            <ion-item>
              <!-- <ion-label position="floating"><ion-icon name="search-outline"></ion-icon>Search</ion-label> -->
              <ion-input type="text"></ion-input>
            </ion-item>
            <ion-item *ngFor="let post of post">
              <ion-label>{{ post.post_title }}</ion-label>
                <br />
                <h3>Location: {{ post.post_location }}</h3>  
              <ion-button (click)="openPostModal(post)" style="margin-left:5px"><ion-icon name="eye-outline">
              </ion-icon></ion-button>
            </ion-item>
          </ion-card-content>
        </ion-card>
        <div class="modal" *ngIf="modalEdit">
          <div class="modal-content">
            <ion-button color="primary" (click)="closeEdit()">back</ion-button>
            <ion-item>
              <ion-label position="floating">Name</ion-label>
              <ion-input [(ngModel)]="userEdit.user_fullname" type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input [(ngModel)]="userEdit.user_location" type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-button (click)="updateUser()" style="float:right;width:100% " color="success">save</ion-button>
          </div>
        </div>
        <div class="modal" *ngIf="modalActive">
          <div class="modal-content">
            <ion-button (click)="closePostModal()" class="ion-button">back</ion-button>
            <ion-input [(ngModel)]="postArray.post_id" type="hidden"></ion-input>
            <ion-item>
              <ion-label position="floating">Title</ion-label>
              <ion-input [(ngModel)]="postArray.post_title" type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Location</ion-label>
              <ion-input [(ngModel)]="postArray.post_location" type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Price Per Month</ion-label>
              <ion-input [(ngModel)]="postArray.post_price_month" type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Description</ion-label>
              <ion-input [(ngModel)]="postArray.post_description"  type="text" id="text" name="text" required></ion-input>
            </ion-item>
            <ion-button (click)="updatePost()" style="float:right;width:100% " color="success">save</ion-button>
            <br>
            <ion-button (click)="deletePost()" style="float:right;width:20% " color="danger"><ion-icon name="trash-outline"></ion-icon></ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

