<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Tenant Hunt / Tenant
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
      <ion-button (click)="goToHome()"><ion-icon name="arrow-back-outline"></ion-icon>back</ion-button>
       <ion-item>
          <ion-label position="floating"><ion-icon name="search-outline"></ion-icon>Search</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-card *ngFor="let post of post">
          <ion-card-content>
            <ion-label>{{ post.post_tenant_title }}</ion-label>
            <p>Budget: ₱{{ post.post_tenant_budget }}</p>
            <ion-card>
              <ion-img style="height:100%;width:100%" src="https://miro.medium.com/max/875/1*PgIo7r6qQXem8BmWd-vksQ.jpeg"></ion-img>
            </ion-card>
            <ion-button expand="full">view</ion-button>
          </ion-card-content>
        </ion-card>
</ion-content>
