<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-title>
      <ion-icon name="home-outline"></ion-icon>
      Tenant Hunt / Home
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card>
          <ion-card-content>
            <ion-button style="width:60%;border-radius:30px;" (click)="goToProfile()"><ion-icon name="person-circle-outline"></ion-icon> profile</ion-button>
            <ion-button style="width:35%;border-radius:30px;" (click)="goToTenants()"><ion-icon name="people-outline"></ion-icon>tenant</ion-button>
        </ion-card-content>
        </ion-card>
        <ion-button expand="full" (click)="goToPost()" color="success">Make a Post<ion-icon name="add-circle-outline"></ion-icon></ion-button>
      <ion-item>
        <ion-label position="floating"><ion-icon name="search-outline"></ion-icon>Search</ion-label>
        <ion-input type="text"></ion-input>
        </ion-item>
    
      <ion-card *ngFor="let post of post">
        <ion-card-content>
          <ion-label>{{ post.post_title }}</ion-label>
          <p>{{ post.post_location }}</p>
          <ion-card>
            <ion-img style="height:100%;width:100%" src="http://www.propertyfinderph.com/uploads/listing-photo/listings-photo/46326/174789/620_400-b56d457d03.jpg"></ion-img>
          </ion-card>
          <ion-button expand="full">view<ion-icon style="margin-left:5px" name="eye-outline"></ion-icon></ion-button>
        </ion-card-content>
      </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
    
</ion-content>
